/* background div, split color */
.body-intro {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    height: 600px;
    min-width: 1280px;
    margin-bottom: 300px;
    background-color: hsl(256, 26%, 20%);
}

#intro-left-overlay {
    position: absolute;
    top: 450px;
    left: 0;
    height: 90%;
}
#intro-right-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
}

/* intro section overlayed on top of split color bg */
.body-intro-sub {
    display: flex;
    width: 90%;
    max-width: 1280px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.body-intro-text {
    display: flex;
    flex-flow: column nowrap;
    height: 300px;
    width: 45%;
    color: hsl(0, 0%, 98%);
}
.body-intro-text hr {
    width: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 40px;
}
.body-intro-text h1 {
    font-size: 60px;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 60px;
}
.body-intro-text p {
    font-family: 'Karla', sans-serif;
    color: hsl(0, 0%, 98%);
    letter-spacing: 1px;
}

#view-plans-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px 10px;
    margin-top: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 98%);
    cursor: pointer;
}
#view-plans-btn2:hover {
    background-color: hsl(0, 0%, 98%);
    transition: background-color 0.4s ease-in-out;
    color: hsl(256, 26%, 20%);
    transition: color 0.4s ease-in-out;
    font-weight: bold;
}

.body-intro-img {
    display: flex;
    margin-left: auto;
    margin-right: 0;
    width: 45%;
}
.body-intro-img img {
    height: 600px;
    margin-left: auto;
    margin-right: 0;
}

 
/* 'We're different' section */
.body-different {
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.body-different hr {
    width: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 40px;
    background-color: hsl(273, 4%, 51%);
}
.body-different h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 75px;
    line-height: 60px;
}
.body-different-sub {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.body-different-sub {
    display: flex;
    flex-flow: row wrap;
}
.body-different-pros {
    width: 30%;
}
.body-different-pros h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
}
.body-different-pros p {
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    color: hsl(273, 4%, 51%);
}

/* box starting with Find out more... */
.body-find-out {
    display: flex;
    flex-flow: row wrap;
    min-height: 250px;
    width: 90%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background-color: hsl(256, 26%, 20%);
}
.body-find-out-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'DM Serif Display', serif;
    font-size: 3.5em;
    font-weight: normal;
    color: hsl(0, 0%, 98%);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.body-find-out-text p {
    margin: 0;
}
.body-find-out-btn {
    width: 30%;
    /* min-width: */
    margin-top: auto;
    margin-bottom: auto;
}
.body-find-out-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 98%);
    cursor: pointer;
}
.body-find-out-btn a:hover {
    background-color: hsl(0, 0%, 98%);
    transition: background-color 0.4s ease-in-out;
    color: hsl(256, 26%, 20%);
    transition: color 0.4s ease-in-out;
    font-weight: bold;
}

@media (max-width: 900px) {
    

}