/* background div, split color */
.body-intro {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    height: 600px;
    margin-bottom: 10em;
    background-color: hsl(256, 26%, 20%);
}

#intro-left-overlay {
    position: absolute;
    top: 25em;
    left: 0;
    height: 90%;
}
#intro-right-overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 90%;
}

/* intro section overlayed on top of split color bg */
.body-intro-sub {
    display: flex;
    width: 90%;
    max-width: 1281px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.body-intro-text {
    display: flex;
    flex-flow: column nowrap;
    height: 300px;
    width: 50%;
    min-width: 350px;
    margin-right: 5%;
    color: hsl(0, 0%, 98%);
}
.body-intro-text hr {
    width: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 40px;
}
.body-intro-text h1 {
    font-size: 60px;
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 10px;
    line-height: 60px;
}
.body-intro-text p {
    font-family: 'Karla', sans-serif;
    color: hsl(0, 0%, 98%);
    letter-spacing: 1px;
}

#view-plans-btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 10px 10px;
    margin-top: 10px;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 98%);
    cursor: pointer;
}
#view-plans-btn2:hover {
    background-color: hsl(0, 0%, 98%);
    transition: background-color 0.4s ease-in-out;
    color: hsl(256, 26%, 20%);
    transition: color 0.4s ease-in-out;
    font-weight: bold;
}

.body-intro-img {
    display: flex;
    width: 50%;
}
.body-intro-img img {
    max-width: 500px;
    min-width: 420px;
    margin-left: auto;
}

 
/* 'We're different' section */
.body-different {
    width: 90%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.body-different hr {
    width: 100px;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 40px;
    background-color: hsl(273, 4%, 51%);
}
.body-different h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 75px;
    line-height: 60px;
}
.body-different-sub {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.body-different-sub {
    display: flex;
    flex-flow: row wrap;
}
.body-different-pros {
    width: 30%;
}
.body-different-pros h2 {
    font-family: 'DM Serif Display', serif;
    font-weight: normal;
}
.body-different-pros p {
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    color: hsl(273, 4%, 51%);
}

/* box starting with Find out more... */
.body-find-out {
    display: flex;
    flex-flow: row wrap;
    min-height: 250px;
    width: 90%;
    max-width: 1281px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background-color: hsl(256, 26%, 20%);
}
.body-find-out-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    font-family: 'DM Serif Display', serif;
    font-size: 3.5em;
    font-weight: normal;
    color: hsl(0, 0%, 98%);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
}
.body-find-out-text p {
    margin: 0;
}
.body-find-out-btn {
    width: 30%;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 11;
}
.body-find-out-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-family: 'Karla', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: transparent;
    border: 1px solid hsl(0, 0%, 98%);
    cursor: pointer;
}
.body-find-out-btn a:hover {
    background-color: hsl(0, 0%, 98%);
    transition: background-color 0.4s ease-in-out;
    color: hsl(256, 26%, 20%);
    transition: color 0.4s ease-in-out;
    font-weight: bold;
}
#find-out-mobile-overlay {
    display: none;
}
#find-out-desktop-overlay{
    display: flex;
    position: absolute;
    right: 4vw;
    z-index: 10;
}


@media (max-width: 961px) {
    .body-find-out-text p {
        font-size: 0.8em;
    }
}

@media (max-width: 641px) {
    .body-intro {
        height: 100%;
        background-color: hsl(0, 0%, 98%);
        margin: 0;
    }
    #intro-left-overlay {
        top: 90%;
        height: 25%;
    }
    #intro-right-overlay {
        top: 49%;
        height: 25%;
    }
    
    .body-intro-sub {
        flex-flow: column-reverse wrap;
        width: 100%;
        margin-top: 0;
    }
    .body-intro-text {
        display: flex;
        background-color: hsl(256, 26%, 20%);
        width: 100%;
        min-width: 0em;
        height: 30em;
        text-align: center;
    }
    .body-intro-text hr {
        display: none;
    }
    .body-intro-text h1 {
        font-size: 3em;
        margin-top: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .body-intro-text p {
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    .body-intro-text a {
        margin-left: 5%;
        margin-right: 5%;
    }
    #view-plans-btn2 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
    .body-intro-img {
        display: flex;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: auto;
        z-index: 500;
    }
    .body-intro-img img {
        max-width: 641px;
        min-width: 0px;
        margin-left: auto;
        margin-right: auto;
    }


    /* 'We're different' section */
    .body-different hr {
        display: none;
    }
    .body-different h1 {
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: center;
        font-size: 3em;
    }
    .body-different-sub {
        flex-flow: column wrap;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .body-different-pros {
        width: 100%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }


    /* box starting with Find out more... */
    .body-find-out {
        width: 100%;
    }
    .body-find-out-text {
        width: 90%;
        text-align: center;
        font-size: 4em;
        margin-top: 1em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1em;
    }
    .body-find-out-btn {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 4em;
        width: 10em;
        padding: 0;
    }
    #find-out-desktop-overlay{
        display: none;
    }
    #find-out-mobile-overlay {
        display: flex;
        position: absolute;
        right: 0;
    }
}