/* background div, split color */
.body-intro {
    display: flex;
    flex-flow: row wrap;
    height: 400px;
    margin-bottom: 350px;
    background-color: hsl(256, 26%, 20%);
}

/* intro section overlayed on top of split color bg */
.body-intro-sub {
    display: flex;
    max-width: 1280px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
}
.body-intro-text {
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    font-family: 'DM Serif Display', serif;
    color: hsl(0, 0%, 98%);
}
.body-intro-img {
    display: flex;
    width: 50%;
}
.body-intro-img img {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* 'We're different' section */
.body-different {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}
.body-different-sub {
    display: flex;
    flex-flow: row wrap;
}
.body-different-sub {
    display: flex;
    flex-flow: row wrap;
}


.body-find-out {
    height: 350px;
    background-color: hsl(141, 25%, 20%);
}



.body-find-out {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}