.footer-container {
    height: 350px;
    background-color: hsl(0, 0%, 98%);
}

.footer-content {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

.footer-header {
    display: flex;
    flex-flow: row wrap;
}

.footer-body {
    display: flex;
    flex-flow: row wrap;
}
.footer-body-sub {
    margin: 0 auto;
}